* {
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
    -webkit-user-select: none;
    cursor: default;
}

body {
    overflow: hidden;
}

input:first-child {
    display: inline-block;
}

.container {
    width: 659px;
    height: 638px;
    -webkit-app-region: drag;
    background-color: #29292c;
}

.loading {
    width: 659px;
    height: 570px;
    background-color: #29292c;
}

.titleBar {
    font-size: 16px;
    width: 100%;
    height: 22px;
    text-align: center;
    line-height: 22px;
    color: #dbdbdb;
}

input:focus {
    outline: none;
}

.up {
    margin-top: 15px;
}

.up-layer h1{
    color: #f3c647;
    font-size: 20px;
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

.return {
     -webkit-app-region: no-drag;
    cursor: pointer;
    position: fixed;
    margin-top: -18px;
    margin-left: 10px;
    z-index: 2;
    font-size: 16px;
    color: #979797;
}

.return:hover {
    color: #f3c647;
}

.hr {
    height: 2px;
    width: 100%;
    background-color: #f3c647;
}

.main {
     -webkit-app-region: no-drag;
    margin-top: 17px;
    margin-left: 28px;
    color: #979797;
}

.main h1 {
    font-size: 21px;
}

.main h2 {
    display: inline-block;
    font-size: 16px;
}

.color-house {
     -webkit-app-region: no-drag;
    margin-top: 10px;
    height: 24px;
}

.color-house h2 {
    line-height: 24px;
}

.color-house input {
    cursor: pointer;
}

.color {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #979797;
    border-radius: 50%;
    background-color: #da47f3;
    float: right;
}

.time-house {
    margin-top: 17px;
}

.range {
    -webkit-app-region: no-drag;
    margin-top: 15px;
    width: 495px;
}

.range p{
    display: inline-block;
    font-size: 18px;
}

.range p:first-child {
    float: left;
}

.range p:last-child {
    float: right;
}

input[type="range"]{
    margin-left: 10px;
    -webkit-app-region: no-drag;
    -webkit-appearance: none;
    height: 5px;
    width: 410px;
    cursor: pointer;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.5, #f3c647),
        color-stop(0.5, #979797)
    );
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    cursor: pointer;
    border-radius: 50%;
    background-color: #f3c647;
    border: 2px solid #979797;
    height: 15px;
    width: 15px;
}

input[type='text'] {
    -webkit-appearance: none; 
    border: none;
    background-color: #29292c;
    border-bottom: 2px solid #979797;
    height: 23px;
    width: 351px;
    font-size: 18px;
    margin-top: 6px;
    cursor: pointer;
}

.pic-house {
    margin-top: 18px;
}

.pics {
     -webkit-app-region: no-drag;
    margin-top: 15px;
    width: 267px;
    display: flex;
    justify-content: space-between;
}

.pics img {
    cursor: pointer;
}

.text-house {
    margin-top: 23px;
}

.text-house input:focus {
    border-bottom: 2px solid #f3c647;
    color: #f3c647;
}

.additional {
    margin-top: 23px;
}

.additional p {
    display: inline-block;
    line-height: 34px;
}

.sint {
    margin-top: 15px;
    width: 375px;
    height: 34px;
}

.switch {
    position: relative;
    float: right;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 65px;
    -webkit-app-region: no-drag;
}

.switch input {
    display: none;
}

.slider.round {
    border-radius: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #979797;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
}

input:checked+.slider {
    background-color: #f3c647;
}

input:focus+.slider {
    box-shadow: 0 0 1px #f3c647;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round:before {
    border-radius: 50%;
}

.buttons {
     -webkit-app-region: no-drag;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
    display: flex;
    justify-content: space-around;
}

.button {
    cursor: pointer;
    width: 175px;
    height: 35px;
    background-color: #f3c647;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
}

/*

.up h1 {
    margin-left: 10px;
    width: 180px;
    color: #858585;
    font-size: 26px;
}

.up hr {
    width: 100%;
    border: 1px solid #f3c647;
    margin-top: 10px;
}

h1 {
    display: inline-block;
    color: #858585;
    font-size: 26px;
}

.range {
    margin-top: 25px;
    margin-left: 20px;
    font-size: 16px;
}

.color-picker {
    margin-left: 20px;
    margin-top: 20px;
}

.image {
    margin-left: 20px;
    margin-top: 20px;
}

.text {
    margin-left: 20px;
    margin-top: 20px;
}

.sound {
    margin-left: 20px;
    margin-top: 20px;
}

.plus {
    margin-top: 30px;
}

input {
    margin-left: 50px;
    height: 20px;
}

.text input {
    width: 200px;
}

.text p {
    color: #979797;
}

.left-p {
    display: inline-block;
    float: left;
    color: #858585;
}
 
input:focus {
    outline-width: 0;
}



.input-height {
    display: inline-block;
    margin-left: 10px;
    color: #979797;
}

.text input {
    background-color: #29292c;
    color: #979797;
    border: none;
    border-bottom: 3px solid #979797;
}

.p-right {
    display: inline-block;
    color: #858585;
    margin-left: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 65px;
  margin-top: 20px;
}

.switch input {
    display: none;
}

.slider.round {
  border-radius: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #979797;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
}

input:checked + .slider {
  background-color: #f3c647;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f3c647;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round:before {
  border-radius: 50%;
}

.bottom {
    margin-left: 20px;
}

.bottom h1 {
    float: left;
    margin-top: 20px;
}

.btn-save {
    margin: 0 auto;
    margin-top: 30px;
    width: 200px;
    height: 35px;
    border-radius: 8px;
    background-color: #f3c647;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
}

.cp-house {
    display: inline-block;
    margin-left: 50px;
}
*/