* {
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
    -webkit-user-select: none;
    cursor: default;
}

body {
    overflow: hidden;
}

.loading {
    width: 360px;
    height: 640px;
    -webkit-app-region: drag;
    background-color: #29292c;
}
p.return {
    -webkit-app-region: no-drag;
}

.container {
    width: 660px;
    height: 390px;
    -webkit-app-region: drag;
    background-color: #29292c;
}

.header-text {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.header-text p, h1 {
    display: inline-block;
}

.header-text p {
    float: left;
    color: #979797;
    margin-top: 10px;
    margin-right: 30px;
    font-size: 12px;
}

.header-text h1 {
    color: #f3c647;
    font-size: 24px;
    margin-right: 48%;
}

.header hr {
    border: 2px solid #f3c647;
}

.info {
    margin-left: 25px;
}

.info h1, h2 {
    color: #858585;
    font-size: 24px;
}

.info h1 {
    margin-top: 15px;
}

.info h2 {
    margin-top: 18px;
}

.gold {
    color: #f3c647;
}

.spec {
    width: 480px;
}

.progressBar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
}

p {
    margin-top: 6px; 
    display: inline-block;
    color: #979797;
    font-size: 21px;
}

p:first-child {
    margin-left: 20px;
}

p:last-child {
    margin-right: 80px;
}

.return {
    cursor: pointer;
}

.return:focus {
    color: #f3c647;
}

.layout {
    margin-top: 10px;
    width: 400px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    outline: 2px solid #979797;
    background-color: #979797;
}

.layin {
    height: 23px;
    background-color: #f3c647;
}

.in-text {
    position: absolute;
    width: inherit;
    font-size: 16px;
    margin-top: 0 !important;
    text-align: center;
    margin-left: 0 !important;
    color: white;
    line-height: 10px;
    color: #29292C;
}

.button {
    width: 219px;
    height: 35px;
    background-color: #f3c647;
    color: #29292C;  
    border-radius: 8px;
    margin: 30px auto;  
}

.button p {
    width: 219px;
    margin-top: 0 !important;
    text-align: center;
    margin-left: 0 !important;
    line-height: 35px;
    color: #29292C;
    font-size: 16px !important;
}