* {
    padding: 0;
    margin: 0;
    font-family: 'Play', sans-serif;
    -webkit-user-select: none;
}
li {
    -webkit-app-region: no-drag;
    cursor: pointer;
}
.loading {
    width: 500px;
    height: 220px;
    background-color: #29292c;
}

.container {
    width: 500px;
    height: 220px;
    -webkit-app-region: drag;
    background-color: #29292c;
}

.draggable {
    -webkit-app-region: drag;
}

.titleBar {
    font-size: 16px;
    width: 100%;
    height: 22px;
    text-align: center;
    line-height: 22px;
    color: #dbdbdb;
}

.settings {
    display: flex;
    justify-content: center;
}

.settings ul {
    text-align: center;
    list-style: none;
}

.settings ul li {
    margin-top: 25px;
    font-size: 24px;
    color: #858585;
}

.settings ul li:hover {
    color: #efbc38;
    cursor: pointer;
}